/*Applies to the whole body*/
body {
    background-color: lightgray;
}
/*Whole navbar options*/
.navbar {
	font-family: raleway,lato,Arial,Helvetica,sans-serif;
    font-weight: 550;
    background-color: #002a32;
}
/*Brand on the left of navbar*/
.navbar .container-fluid .navbar-header a {
	background-color: #002a32;
	margin-left:15vh;
	font-size: 18px;
}
/*Mobile view navbar*/
.navbar .container-fluid .navbar-header .navbar-toggle {
	background-color : lightgray;
}
/*Tabs at the navbar*/
.navbar .collapse .nav {
	background-color: #002a32;
	margin-right:15vh;
}
.navbar .collapse .nav a:hover {
    background-color: lightgray;
}
/*Tabs at the navbar*/
.navbar .collapse .nav a {
	font-size: 18px;
}
/*Active tab gets different color*/
.navbar .collapse .nav > li.active > a {
  	color: #00d6d6;
 }
 /*index*/
 .about_me h1 {
 	text-align: center;
 	margin-top:20vh;
 }

 /*processing_projects*/
 .ppMain {
 	margin-left:15vh;
 }
 .ppMain .GDG h1 {
 	margin-top:20vh;
 }