/*75 186 250 4BBAFA blue 204 204 204 CCCCCC*/
/*
font-family: 'Karla', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/*Applies to the whole body*/
body {
    background-color: #FFFFFF;
}
/*Whole navbar options*/
.navbar {
	font-family: raleway,lato,Arial,Helvetica,sans-serif;
    font-weight: 550;
    background-color: #CCCCCC;
}
/*Whole navbar*/
.navbar .container-fluid {
	margin-left: 5%;
	margin-right: 5%;
}
/*Brand on the left of navbar*/
.navbar .container-fluid .navbar-header a {
	background-color: #CCCCCC;
	font-size: 112.5%;
}
/*Mobile view navbar*/
.navbar .container-fluid .navbar-header .navbar-toggle {
	background-color : #002a32;
}
/*Tabs at the navbar*/
.navbar .collapse .nav {
	background-color: #CCCCCC;
}
.navbar .collapse .nav a:hover {
    background-color: lightgray;
}
/*Tabs at the navbar*/
.navbar .collapse .nav a {
	font-size: 112.5%;
}
/*Active tab gets different color*/
.navbar .collapse .nav > li.active > a {
  	color: #4BBAFA;
 }
 /*index*/
 .about_me h1 {
 	font-family: 'Karla', sans-serif;
 	text-align: center;
 	margin-left: 15%;
 	margin-right: 15%;
 	margin-top: 10%;
 	font-weight: 200;
 	color: #000000;
 }
 .about_me h2 {
 	font-family: 'Roboto', sans-serif;
 	text-align: center;
 	font-weight: 100;
 	color: #000000;
 }
 .about_me p {
 	text-align: left;
 	margin-left: 15%;
 	margin-right: 15%;
 	font-family: 'Karla', sans-serif;
 	font-size: 112.5%;
 	line-height: 2;
 }
 /*processing_projects*/
 .ppMain {
 	margin-left: 15%;
 	margin-right: 15%;
 }
 .ppMain .GDG h1 {
 	margin-top:15%;
 	font-family: 'Roboto', sans-serif;
 }
 .ppMain .GDG p {
 	line-height: 1.75;
 	font-family: 'Karla', sans-serif;
 	font-size: 100%;
 }
 .ppMain .Fractal h1 {
 	margin-top:15%;
 	font-family: 'Roboto', sans-serif;
 }
 .ppMain .Fractal p {
 	line-height: 1.75;
 	font-family: 'Karla', sans-serif;
 	font-size: 100%;
 }
 .ppMain .Fractal iframe {
 	display: block;
 	margin-left: auto;
    margin-right: auto;
 }