/*75 186 250 4BBAFA blue 204 204 204 CCCCCC*/
/*
font-family: 'Karla', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/*Applies to the whole body*/
body {
    background-color: #FFFFFF;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*Whole navbar options*/
.navbar {
  font-family: raleway,lato,Arial,Helvetica,sans-serif;
  font-weight: 550;
  background-color: #CCCCCC;
}
/*Whole navbar*/
.navbar .container-fluid {
	margin-left: 5%;
	margin-right: 5%;
}
/*Brand on the left of navbar*/
.navbar .container-fluid .navbar-header a {
	background-color: #CCCCCC;
	font-size: 112.5%;
}
/*Mobile view navbar*/
.navbar .container-fluid .navbar-header .navbar-toggle {
  background:#FFFFFF url('icons/github.png');
}

/*Tabs at the navbar*/
.navbar .collapse .nav {
	background-color: #CCCCCC;
}
.navbar .collapse .nav a:hover {
  background-color: lightgray;
}
/*Tabs at the navbar*/
.navbar .collapse .nav a {
	font-size: 112.5%;
}
/*Active tab gets different color*/
.navbar .collapse .nav > li.active > a {
  color: #0091ea;
 }

.about_me {
  position: relative;
  margin-top: 15vh;
  overflow: hidden;
  display: block;
}

 /*index*/
 .about_me h1 {
 	font-family: 'Karla', sans-serif;
 	text-align: left;
 	margin-left: 10vh;
 	margin-right: 10vh;
 	font-weight: 200;
 	color: #000000;
 }
 .about_me h2 {
 	font-family: 'Karla', sans-serif;
 	text-align: left;
 	font-weight: 100;
 	color: #000000;
 }
 .about_me p {
 	text-align: left;
 	margin-left: 10vh;
 	margin-right: 10vh;
 	font-family: 'Karla', sans-serif;
 	font-size: 125%;
 	line-height: 2;
 }

 /*processing_projects*/
 .GDG h1 {
 	font-family: 'Roboto', sans-serif;
 }
 .GDG p {
 	line-height: 1.75;
 	font-family: 'Karla', sans-serif;
 	font-size: 112.5%;
 }
 .Fractal h1 {
 	color:#D0D0D0;
 	font-family: 'Roboto', sans-serif;
 }
 .Fractal p {
 	color:#D0D0D0;
 	line-height: 1.75;
 	font-family: 'Karla', sans-serif;
 	font-size: 112.5%;
 }

 .project1 h1 {
  font-family: 'Roboto', sans-serif;
 }
 .project1 p {
  line-height: 1.75;
  font-family: 'Karla', sans-serif;
  font-size: 112.5%;
  margin-left: 5vh;
  margin-right: 5vh;
 }

 .project2 h1 {
  color:#F0F0F0;
  font-family: 'Roboto', sans-serif;
 }
 .project2 p {
  /*color:#D0D0D0;*/
  line-height: 1.75;
  font-family: 'Karla', sans-serif;
  font-size: 112.5%;
  margin-left: 5vh;
  margin-right: 5vh;
 }

 .ppTitle, .hackathonTitle, .GDGImage, .fractalImage, .hackmappImage, .wikiwhereImage, .pulseoxiImage {
  position: relative;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ppTitle {
  background-image: url("images/processing.png");
  min-height: 100%;
}
.hackathonTitle {
  background-image: url("images/hackathon.jpg");
  min-height: 100%;
}

.GDGImage {
  background-image: url("images/GDG_picture.png");
  min-height: 100%;
  background-position: left;
}

.hackmappImage {
  background-image: url("images/hackmapp_code.png");
  min-height: 100%;
  background-position: center;
}

.wikiwhereImage {
  background-image: url("images/wikiwhere_code.png");
  min-height: 100%;
  background-position: center;
}

.fractalImage {
  background-image: url("images/randomFractal_picture.png");
  min-height: 100%;
  background-position: left;
}

.pulseoxiImage {
  background-image: url("images/MAXREFDES117_code.png");
  min-height: 100%;
  background-position: center;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000000;
}
.caption1 {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  color: #000000;
}
.caption span.border {
  background-color: #303030;
  color: #FFFFFF;
  padding: 18px;
  font-size: 300%;
  letter-spacing: 10px;
}
.caption1 span.border {
  background-color: #303030;
  color: #FFFFFF;
  padding: 18px;
  font-size: 300%;
  letter-spacing: 10px;
}

.contact {
  margin: auto;
  width: 50%;
  text-align: center;
}

.icon {
  height: auto;
  width: 100%;
  max-width: 10vh;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 5vh;
}







