/*75 186 250 4BBAFA blue 204 204 204 CCCCCC*/
/*
font-family: 'Karla', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/*Applies to the whole body*/
body {
    background-color: #FFFFFF;
}

.about_me {
  position: relative;
  margin-top: 15vh;
  overflow: hidden;
  display: block;
}

 .about_me h1 {
  font-family: 'Karla', sans-serif;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  color: #4BBAFA;
 }

 .about_me p {
  text-align: left;
  margin-top: 5vh;
  margin-left: 15vw;
  margin-right: 15vw;
  font-family: 'Karla', sans-serif;
  font-size: 125%;
  line-height: 2;
 }

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column a {
    font-size: 3em;
    padding: 1em 1em;
    color: #4BBAFA;
  }

.column a:hover {
  text-decoration: underline;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 1080px) {

  .about_me h1 {
  font-family: 'Karla', sans-serif;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 3em;
  color: #4BBAFA;
 }

  .about_me p {
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.5em;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .column a {
    font-size: 3em;
    padding: 1em 1em;
    color: #4BBAFA;
  }

  .column a:hover {
    text-decoration: underline;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}