/*
font-family: 'Karla', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
  background: url('images/background_color.png') no-repeat 25% 0% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  height: 100vh;
  margin: 0 20px;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column a:link {
  font-size: 3.5em;
  padding: 5px 50px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }

.column a:hover {
  text-decoration: none;
  font-size: 3.5em;
  padding: 5px 50px;
  color: black !important; /* not sure why it won't be black if !important isn't there */
  text-shadow: 1px 0 0 #FFF, 0 -1px 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF !important; /* not sure why it won't be black if !important isn't there */
}

.column a:active {
  text-decoration: none;
  font-size: 3.5em;
  padding: 5px 50px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.column a:visited {
  text-decoration: none;
  font-size: 3.5em;
  padding: 5px 50px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.column a:focus {
  text-decoration: none;
  font-size: 3.5em;
  padding: 5px 50px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


/*@media screen and (max-width: 1080px) {

  body {
    background-image: url('images/background_color_portrait.png');
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
  }

  .column {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Karla', sans-serif;
  }

  .column a {
    font-size: 3.5em;
    padding: 1em 1em;
    color: #FFFFFF;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }

  .column a:hover {
    text-decoration: none;
    color: #000000;
    text-shadow: 1px 0 0 #FFF, 0 -1px 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}*/